<% provide(:title, 'Home') %>
<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="main">
        <h1 class="micropost">What's on your mind?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round span9">
        <%= render 'shared/user_info' %>
        
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>

<h1>Twitter for Freedom</h1>
<p>
  This is the home page for the
  Twitter for Freedom page.  Please note that this service does not work if you don't create an account, (it's easy!), so if you want to see how this fake Twitter app works, please create an account.
</p>
<%= link_to "Sign up now!", signup_path, class: "center btn btn-primary btn-large" %>
<% end %> 